@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title Game Groove</h2>
<h3>What are we doing?</h3>

<p class="jumbotron-properties">Game Groove exists to provide a platform for the online gaming community that will allow users to give or receive recommendations on what games to play.
    We want to give you the chance to share hidden gems that you've played or to discover some sleeper hits that others are playing.</p>


<h3>How does it work?</h3>

<p class="jumbotron-properties">Everyone has access to our game list. To see all of the reviews for a particular game, all you have to do is click on the details button on the right side of the page.
    All of the reviews for that game will show up in a list on that page. You can see each review by clicking the details button on the right side of that list as well! <br /> <br />

    To write a review, you have to sign up for an account. Then go to Game List > Game Details > Write a Review. 
    Write out what you want other users to know about that game, add your own category, then post it. Now everyone can see why you want them to play that game!<br /> <br />

    You can edit your own reviews and profile, but only Mods or Admins are able to edit games. Also, only Admins are able to add games. 
    If you would like a game to be added, send a request on our Contact page and an Admin will process your request as soon as possible. <br /> <br />

    Thanks for being a part of our community!
    </p>