
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>

<p>Out of the groove! An error has occurred. <br />
    If the error persists, please refer to the Contact page and send a request or an email to our Support Team!</p>